.form,
.password {
  margin: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid green;
  caret-color: green;
  color: green;
  padding-bottom: 5px;
  letter-spacing: 0.15rem;
}

.label {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: green;
  font-size: 12px;
}
